@model TransportCRM.Models.Transportation

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<h4>Грузоперевозки</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TransportationId" />
            <div class="form-group">
                <label asp-for="PickupDate" class="control-label">Дата погрузки</label>
                <input asp-for="PickupDate" class="form-control" />
                <span asp-validation-for="PickupDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryDate" class="control-label">Дата доставки</label>
                <input asp-for="DeliveryDate" class="form-control" />
                <span asp-validation-for="DeliveryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label">Цена</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoId" class="control-label">Груз</label>
                <select asp-for="CargoId" class="form-control" asp-items="ViewBag.CargoId"></select>
                <span asp-validation-for="CargoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>

