@model TransportCRM.Models.Truck

@{
    ViewData["Title"] = "Удалить";
}

<h1>Удалить</h1>

<h3>Вы действительно хотите удалить этот авто?</h3>
<div>
    <h4>Автомобиль</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPayload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPayload)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TruckId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-primary">Назад</a>
    </form>
</div>
