@model TransportCRM.Models.Truck

@{
    ViewData["Title"] = "Детали";
}

<h1>Детали</h1>

<div>
    <h4>Автомобиль</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPayload)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPayload)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TruckId">Редактировать</a> |
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>
