@model TransportCRM.Models.Truck

@{
    ViewData["Title"] = "Редактировать";
}

<h1>Редактировать</h1>

<h4>Автомобиль</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TruckId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Название авто</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPayload" class="control-label">Максимальная грузоподъемность</label>
                <input asp-for="MaxPayload" class="form-control" />
                <span asp-validation-for="MaxPayload" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary">Назад</a>
</div>

